/node_modules/
/dist/
/.git/
/app/css/
/**/_backstage
/**/Thumbs.db
/**/*.DS_Store
app/libs/font-awesome/scss/_rotated-flipped.scss
app/libs/font-awesome/scss/_stacked.scss
app/libs/font-awesome/scss/_screen-reader.scss
app/libs/font-awesome/scss/_mixins.scss
app/libs/font-awesome/scss/_list.scss
app/libs/font-awesome/scss/_icons.scss
app/libs/font-awesome/scss/_larger.scss
app/libs/font-awesome/scss/font-awesome.scss
app/libs/font-awesome/scss/_fixed-width.scss
app/libs/font-awesome/scss/_bordered-pulled.scss
app/libs/font-awesome/scss/_path.scss
app/libs/font-awesome/scss/_core.scss
app/libs/font-awesome/scss/_animated.scss
*.less
*.otf
*.woff
*.woff2
*.ttf
*.svg
*.eot
*.txt
app/libs/font-awesome/css/font-awesome.css
app/js/scripts.min.js
app/libs/bootstrap-grid/bootstrap-grid.css
app/libs/font-awesome/css/font-awesome.min.css
app/libs/font-awesome/scss/_variables.scss
app/libs/jquery/dist/jquery.min.js
gulpfile.js
package-lock.json
package.json
readme.md
.bowerrc
app/ht.access
app/img/favicon/apple-touch-icon-114x114.png
app/img/favicon/apple-touch-icon-72x72.png
app/js/comm11on.js
*.js
app/img/preview.jpg
app/img/favicon/favicon.ico
app/img/favicon/apple-touch-icon.png
app/libs/chartist/LICENSE-WTFPL
app/libs/chartist/LICENSE-MIT
app/libs/chartist/dist/scss/settings/_chartist-settings.scss
app/libs/chartist/dist/scss/chartist.scss
app/libs/chartist/dist/chartist.css
app/libs/chartist/CONTRIBUTING.md
app/libs/chartist/CODINGSTYLE.md
app/libs/chartist/CHANGELOG.md
app/libs/chartist/dist/chartist.css.map
app/libs/chartist/dist/chartist.min.css
app/libs/chartist/dist/chartist.min.js.map
app/libs/chartist/.bower.json
app/libs/chartist/bower.json
